<h1>Eat Da burger!</h1>

<div class="container">

<div class="row">
  <div class="col-sm-6" style="background-color: yellow;">
    <h2 class="burger-title text-center">What Burger Shall we Eat?</h2><br>
    <div class="available-burgers">
      {{#each burgers}}
      {{#unless this.devoured}}
      {{> burger-block devoured=0}}
      {{/unless}}
      {{/each}}
    </div>
  </div>

  <div class="col-sm-6" style="background-color: pink;">
    <h2>Burgers in my tummy</h2>
    <div class="devoured burgers">
      {{#each burgers}}
      {{#if devoured}}
      {{> burger-block devoured=1}}
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger:</label>
    <input type="text" id="bu" name="name">
  </div>

<button type="submit">Add Burger</button>
</form>
